versions/biotools-2.0-alpha-01/biotools-2.0-alpha-01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Jon Ison (private) -->
<xs:schema xmlns="http://bio.tools" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://bio.tools" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="commandLineOption">
		<xs:annotation>
			<xs:documentation>Details of an option for a command line interface to a tool, i.e. something that can be specific by a flag such as '-a' or '--all'.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="optionSummary">
				<xs:annotation>
					<xs:documentation>A summary of the syntax for specifying a command-line option.  The value is text with optional markdown, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="optionDescription">
				<xs:annotation>
					<xs:documentation>A textual description of a command-line option.  The value is text with optional markdown, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="serviceEndpoint">
		<xs:annotation>
			<xs:documentation>Details of an endpoint to a service, i.e. a URL that can be used to invoke a particular function of a service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="endpointHTTPmethod">
				<xs:simpleType>
					<xs:restriction base="Name">
						<xs:enumeration value="OPTIONS"/>
						<xs:enumeration value="GET"/>
						<xs:enumeration value="HEAD"/>
						<xs:enumeration value="POST"/>
						<xs:enumeration value="PUT"/>
						<xs:enumeration value="DELETE"/>
						<xs:enumeration value="TRACE"/>
						<xs:enumeration value="CONNECT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="endpointURLTemplate">
				<xs:annotation>
					<xs:documentation>Template for a URL fragment, which when appended to the base URL, defines the syntax of a valid URL to call the service.  The value is text with optional markdown, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="endpointOutput" type="Data"/>
					<xs:element name="endpointDescription" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A textual description of a service endpoint.  The value is markdown text adhering to a strict style and syntax, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="endpointDescription">
					<xs:annotation>
						<xs:documentation>A textual description of a service endpoint.  The value is markdown text adhering to a strict style and syntax, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="replaceable" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A query string parameter or a segment of the path in the template URL that is replaced by some value when the service is invoked.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:all>
						<xs:element name="field"/>
						<xs:element name="EDAMdata" type="EDAMdataType"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="resources">
		<xs:annotation>
			<xs:documentation>Description of one or more bioinformatics software resources, e.g. databases, tools and services, in the biotoolsXSD resource description format.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="resource" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Description of a bioinformatics software resource.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="link">
		<xs:all>
			<xs:element name="url" type="URL">
				<xs:annotation>
					<xs:documentation>A link of some relevance to the resource (URL).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type">
				<xs:annotation>
					<xs:documentation>The type of information that is obtained when the link is resolved.  One of "API specification", "API documentation", "Service mirror URL", "Collection", "Social media", "Repository", "Downloads (binaries)", "Downloads (Docker image)", "Downloads (source code)", "Downloads (general)", "Terms of use", "Citation instructions" or "Documentation (general)".: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Name">
						<xs:enumeration value="API specification"/>
						<xs:enumeration value="API documentation"/>
						<xs:enumeration value="Service mirror URL"/>
						<xs:enumeration value="Collection"/>
						<xs:enumeration value="Social media"/>
						<xs:enumeration value="Repository"/>
						<xs:enumeration value="Downloads (binaries)"/>
						<xs:enumeration value="Downloads (Docker image)"/>
						<xs:enumeration value="Downloads (source code)"/>
						<xs:enumeration value="Downloads (general)"/>
						<xs:enumeration value="Terms of use"/>
						<xs:enumeration value="Citation instructions"/>
						<xs:enumeration value="Documentation (general)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="resource">
		<xs:annotation>
			<xs:documentation>Attributes of bioinformatics resource</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name">
					<xs:annotation>
						<xs:documentation>Canonical resource name assigned by the developer or maintainer of the resource.  Names used in the ELIXIR Tools and Data Services Registry must be unique and conform to a style and syntax: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="resourceName"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="Name">
							<xs:maxLength value="50"/>
							<xs:pattern value="[\p{Zs}A-Za-z0-9+\.,\-_:;()]*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="homepage" type="URL">
					<xs:annotation>
						<xs:documentation>Homepage of the resource Web site, or some page that best serves this purpose (URL).</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="http://resourcename.org"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="description">
					<xs:annotation>
						<xs:documentation>Short textual description of the resource.  The description must conform to a style and syntax: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="Description of resource goes here."/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="500"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="function" type="toolFunction" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Function(s) that the resource performs.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="version" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Version (typically a version number) of the tool assigned by the developer or maintainer of the resource (free text).</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="1.1"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="annotations">
					<xs:annotation>
						<xs:documentation>Terms from controlled vocabularies describing scientific, technical and administrative details about the resource.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="resourceType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Basic resource type: "Database", "Tool", "Service", "Workflow", "Platform" or "Container".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Tool"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:Name">
										<xs:enumeration value="Database"/>
										<xs:enumeration value="Tool"/>
										<xs:enumeration value="Service"/>
										<xs:enumeration value="Workflow"/>
										<xs:enumeration value="Platform"/>
										<xs:enumeration value="Container"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="topic" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>General scientific domain the resource serves or other general category for it: EDAM Topic term(s).</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:restriction base="ontologyConcept">
											<xs:all>
												<xs:element name="uri">
													<xs:annotation>
														<xs:documentation>URL of an EDAM Topic concept.</xs:documentation>
														<xs:appinfo>
															<altova:exampleValues>
																<altova:example value="http://edamontology.org/topic_0003"/>
															</altova:exampleValues>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:anyURI">
															<xs:pattern value="http://edamontology.org/topic_[0-9]{4}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="term" type="xs:token" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Preferred label of an EDAM Topic concept.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:all>
										</xs:restriction>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="organismID" minOccurs="0">
								<xs:annotation>
									<xs:documentation>NCBI taxon ID of an organism that the resourcec is particularly relevant for.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:restriction base="ontologyConcept">
											<xs:all>
												<xs:element name="uri" type="xs:anyURI">
													<xs:annotation>
														<xs:documentation>NCBI taxonomy ID (URI).</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="term" type="xs:token" minOccurs="0">
													<xs:annotation>
														<xs:documentation>A term for the concept, usually the preferrred label as defined for that concept in the ontology.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:all>
										</xs:restriction>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="GOterm" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:restriction base="ontologyConcept">
											<xs:all>
												<xs:element name="uri">
													<xs:annotation>
														<xs:documentation>Unique identifier of the concept (URI).</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:anyURI">
															<xs:pattern value="vcvc"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="term" minOccurs="0">
													<xs:annotation>
														<xs:documentation>A GO term</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:token">
															<xs:maxLength value="100"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:all>
										</xs:restriction>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="elixirStatus" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Official status of an ELIXIR service as assigned by ELIXIR Hub: one of "ELIXIR Named Service" or "ELIXIR Core Service".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="ELIXIR Core Service"/>
										<xs:enumeration value="ELIXIR Named Service"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="maturity" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Resource maturity: "Early", "Stable" or "Deprecated".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Early"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="Early"/>
										<xs:enumeration value="Stable"/>
										<xs:enumeration value="Deprecated"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="accessibility" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Public"/>
										</altova:exampleValues>
									</xs:appinfo>
									<xs:documentation>Whether a resource is available for public use, or is restricted to a private audience: "Public" or "Private".</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="Private"/>
										<xs:enumeration value="Public"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cost" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Monetary cost to purchase or use the resource: "Free", "Free with restrictions" or "Commercial".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Free"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="Free"/>
										<xs:enumeration value="Free with restrictions"/>
										<xs:enumeration value="Commercial"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="license" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Software or data usage license.  For valid values see See github.com/bio-tools/biotoolsxsd.</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="GNU General Public License v3"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="Apache License 2.0"/>
										<xs:enumeration value="Artistic License 2.0"/>
										<xs:enumeration value="MIT License"/>
										<xs:enumeration value="GNU General Public License v3"/>
										<xs:enumeration value="GNU Lesser General Public License v2.1"/>
										<xs:enumeration value="GNU General Public License v2"/>
										<xs:enumeration value="GNU Affero General Public License v3"/>
										<xs:enumeration value="BSD 3-Clause License (Revised)"/>
										<xs:enumeration value="BSD 2-Clause License"/>
										<xs:enumeration value="Creative Commons Attribution NonCommerical NoDerivs"/>
										<xs:enumeration value="Microsoft Public License"/>
										<xs:enumeration value="Mozilla Public License 2.0"/>
										<xs:enumeration value="Creative Commons Attribution NoDerivs"/>
										<xs:enumeration value="Eclipse Public License 1.0"/>
										<xs:enumeration value="Microsoft Reciprocal License"/>
										<xs:enumeration value="PHP License 3.0"/>
										<xs:enumeration value="Creative Commons Attribution 3.0 Unported"/>
										<xs:enumeration value="Creative Commons Attribution Share Alike"/>
										<xs:enumeration value="Creative Commons Attribution NonCommercial"/>
										<xs:enumeration value="Creative Commons Attribution NonCommercial ShareAlike"/>
										<xs:enumeration value="Apple Public Source License 2.0"/>
										<xs:enumeration value="ISC License"/>
										<xs:enumeration value="IBM Public License"/>
										<xs:enumeration value="GNU Free Documentation License v1.3"/>
										<xs:enumeration value="Common Public Attribution License Version 1.0"/>
										<xs:enumeration value="European Union Public License 1.1"/>
										<xs:enumeration value="ODC Open Database License"/>
										<xs:enumeration value="Simple Public License 2.0"/>
										<xs:enumeration value="Creative Commons Attribution-NonCommercial 2.0 Generic"/>
										<xs:enumeration value="Creative Commons CC0 1.0 Universal"/>
										<xs:enumeration value="Microsoft Shared Source Community License"/>
										<xs:enumeration value="Mozilla Public License 1.1"/>
										<xs:enumeration value="Educational Community License Version 2.0"/>
										<xs:enumeration value="Creative Commons Attribution 4.0 International"/>
										<xs:enumeration value="Open Software Licence 3.0"/>
										<xs:enumeration value="Common Public License 1.0"/>
										<xs:enumeration value="CeCILL v2"/>
										<xs:enumeration value="Adaptive Public License 1.0"/>
										<xs:enumeration value="Non-Profit Open Software License 3.0"/>
										<xs:enumeration value="Reciprocal Public License 1.5"/>
										<xs:enumeration value="Open Public License v1.0"/>
										<xs:enumeration value="ODC Public Domain Dedication and License 1.0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="language" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Languages (for APIs etc.) or technologies (for Web applications, applets etc.)  For valid values ee github.com/bio-tools/biotoolsxsd.</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Java"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="ActionScript"/>
										<xs:enumeration value="Ada"/>
										<xs:enumeration value="AppleScript"/>
										<xs:enumeration value="Assembly language"/>
										<xs:enumeration value="Bash"/>
										<xs:enumeration value="C"/>
										<xs:enumeration value="C#"/>
										<xs:enumeration value="C++"/>
										<xs:enumeration value="COBOL"/>
										<xs:enumeration value="ColdFusion"/>
										<xs:enumeration value="D"/>
										<xs:enumeration value="Delphi"/>
										<xs:enumeration value="Dylan"/>
										<xs:enumeration value="Eiffel"/>
										<xs:enumeration value="Forth"/>
										<xs:enumeration value="Fortran"/>
										<xs:enumeration value="Groovy"/>
										<xs:enumeration value="Haskell"/>
										<xs:enumeration value="Icarus"/>
										<xs:enumeration value="Java"/>
										<xs:enumeration value="Javascript"/>
										<xs:enumeration value="LabVIEW"/>
										<xs:enumeration value="Lisp"/>
										<xs:enumeration value="Lua"/>
										<xs:enumeration value="Maple"/>
										<xs:enumeration value="Mathematica"/>
										<xs:enumeration value="MATLAB language"/>
										<xs:enumeration value="MLXTRAN"/>
										<xs:enumeration value="NMTRAN"/>
										<xs:enumeration value="Pascal"/>
										<xs:enumeration value="Perl"/>
										<xs:enumeration value="PHP"/>
										<xs:enumeration value="Prolog"/>
										<xs:enumeration value="Python"/>
										<xs:enumeration value="R"/>
										<xs:enumeration value="Racket"/>
										<xs:enumeration value="REXX"/>
										<xs:enumeration value="Ruby"/>
										<xs:enumeration value="SAS"/>
										<xs:enumeration value="Scala"/>
										<xs:enumeration value="Scheme"/>
										<xs:enumeration value="Shell"/>
										<xs:enumeration value="Smalltalk"/>
										<xs:enumeration value="SQL"/>
										<xs:enumeration value="Turing"/>
										<xs:enumeration value="Verilog"/>
										<xs:enumeration value="VHDL"/>
										<xs:enumeration value="Visual Basic"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="operatingSystem" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The operating system supported by a downloadable software package: "Linux", "Windows" or "Mac".</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Linux"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="Linux"/>
										<xs:enumeration value="Windows"/>
										<xs:enumeration value="Mac"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="contact" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Contact details for the resource including people, mailing lists, helpdesk etc.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="contactDetails">
								<xs:sequence>
									<xs:choice>
										<xs:sequence>
											<xs:element name="contactEmail" type="EmailAddress">
												<xs:annotation>
													<xs:documentation>Email address of contact.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element ref="contactURL" minOccurs="0">
												<xs:annotation>
													<xs:documentation>URL of contact.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
										<xs:element ref="contactURL">
											<xs:annotation>
												<xs:documentation>URL of contact.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
									<xs:element name="contactName" type="Name" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Name of contact.</xs:documentation>
											<xs:appinfo>
												<altova:exampleValues>
													<altova:example value="Fred Bloggs"/>
												</altova:exampleValues>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="contactTel" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Telephone number of contact. </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="contactRole" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Role of contact: "Developer", "Maintainer", "Helpdesk" or "General".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="Name">
												<xs:enumeration value="Users"/>
												<xs:enumeration value="Developer"/>
												<xs:enumeration value="Provider"/>
												<xs:enumeration value="General"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="entryType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A term which best desribes the type of resource.  One of "Command-line tool", "Web application", "Desktop application", "Container", "Workflow", "Platform", "Library", "SOAP WS" or "REST API".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="Name">
							<xs:enumeration value="Command-line tool"/>
							<xs:enumeration value="Web application"/>
							<xs:enumeration value="Desktop application"/>
							<xs:enumeration value="Container"/>
							<xs:enumeration value="Workflow"/>
							<xs:enumeration value="Platform"/>
							<xs:enumeration value="Library"/>
							<xs:enumeration value="SOAP WS"/>
							<xs:enumeration value="REST API"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="commandLine" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Details of the command-line interface to a tool, if appropriate.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="commandLineSummary">
								<xs:annotation>
									<xs:documentation>A summary of the syntax for invoking a tool on the command-line.  The value is text with optional markdown, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="commandLineDescription" minOccurs="0">
								<xs:annotation>
									<xs:documentation>A textual summary of how a tool is invoked on the command-line.  The value is text with optional markdown, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="option" type="commandLineOption" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Details for an option to a command-line tool.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="api" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Details of the API to a service, if appropriate, including service endpoints.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="apiBaseURL">
								<xs:annotation>
									<xs:documentation>The base URL of a service, upon which one or more service endpoints may be hung.  The value is a URL, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="endpoint" type="serviceEndpoint" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Details of an endpoint to a service, i.e. a URL that can be used to invoke a particular function of a service.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="replaceable" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A query string parameter or a segment of the path in the template URL that is replaced by some value when the service is invoked.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:all>
										<xs:element name="field">
											<xs:annotation>
												<xs:documentation>The name of the field that is to be replaced.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="EDAMdata" type="EDAMdataType">
											<xs:annotation>
												<xs:documentation>The type of data of the replaceable field.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="relationship" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Details about a relationship this resource shares with another entry in the ELIXIR Tools and Data Services Registry (bio.tools), e.g. a tool may part of some platform, or a service may use some tool or database.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="isNewVersionOf" type="biotoolsURL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Unique ID of an tool in the ELIXIR Tools and Data Services Registry which this tool is a new version of.  The ID must be a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="isOldVersionOf" type="biotoolsURL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Unique ID of an tool in the ELIXIR Tools and Data Services Registry which this tool is an old version of.  The ID must be a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="uses" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Unique ID of a resourec in the ELIXIR Tools and Data Services Registry which this resource uses.  For example, if a service provides an interface to some existing tool, the ID of the tool should be given here.  The ID must be a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="usesAsDataSource" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Unique ID of a database in the ELIXIR Tools and Data Services Registry which this resource uses as a source of data.  The ID must be a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="includes" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Unique ID of a resource in the ELIXIR Tools and Data Services Registry which this resource includes.  For example, databases, tools or services provided by some platform or included in some container.  The ID must be a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="link" type="link" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Links to documentation about the resource and other Web sites and services of relevance.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="publication" type="publication" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Publications relevant to the resource.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="credit" type="credit" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Entities that should be credited for the resource.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="biotoolsURL" use="optional" form="unqualified">
				<xs:annotation>
					<xs:documentation>Unique ID that is assigned upon registration of the resource in the ELIXIR Tools and Data Services Registry.  The ID is a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="toolFunction">
		<xs:annotation>
			<xs:documentation>Attributes of software operations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EDAMfunction" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name(s) of the resource function(s): EDAM Operation term(s).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ontologyConcept">
							<xs:all>
								<xs:element name="uri">
									<xs:annotation>
										<xs:documentation>URL of an EDAM Operation concept.</xs:documentation>
										<xs:appinfo>
											<altova:exampleValues>
												<altova:example value="http://edamontology.org/operation_0004"/>
											</altova:exampleValues>
										</xs:appinfo>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:anyURI">
											<xs:pattern value="http://edamontology.org/operation_[0-9]{4}"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="term" type="xs:token" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Preferred label of an EDAM Operation concept.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:all>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="functionDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Concise textual description of the function(s), if this is not already obvious from the resource description.</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="Concise description of the function."/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="input" type="Data" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Details of primary input data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="output" type="Data" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Details of primary output data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Data">
		<xs:annotation>
			<xs:documentation>Attributes of software parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EDAMdata" type="EDAMdataType">
				<xs:annotation>
					<xs:documentation>Type of data: EDAM Data term(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDAMformat" type="EDAMformatType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Allowed format(s) of the data: EDAM Format term(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Name">
		<xs:annotation>
			<xs:documentation>Name of a thing</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailAddress">
		<xs:annotation>
			<xs:documentation>Email address</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="FredBloggs@gmail.com"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[A-Za-z0-9_]+([-+.'][A-Za-z0-9_]+)*@[A-Za-z0-9_]+([-.][A-Za-z0-9_]+)*\.[A-Za-z0-9_]+([-.][A-Za-z0-9_]+)*"/>
			<xs:pattern value="((\S*\s*)*&lt;(([a-zA-Z0-9!#$%&amp;'\*\+/=\?\^`\{\}\|~\._-])|(&quot;.+&quot;)|(\\.))+@([a-zA-Z0-9-])+(([a-zA-Z0-9-])*\.([a-zA-Z0-9-])+)+&gt;)|((([a-zA-Z0-9!#$%&amp;'\*\+/=\?\^`\{\}\|~\._-])|(&quot;.+&quot;)|(\\.))+@([a-zA-Z0-9-])+(([a-zA-Z0-9-])*\.([a-zA-Z0-9-])+)+)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="URLFTP">
		<xs:annotation>
			<xs:documentation>URL supporting FTP URLs</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="http://someURL.org"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="http.*"/>
			<xs:pattern value="ftp.*"/>
			<xs:pattern value="sftp.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="URL">
		<xs:annotation>
			<xs:documentation>URL</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="http://someURL.org"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="http.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CitationID">
		<xs:annotation>
			<xs:documentation>Resource citation (PMCID, PMID or DOI)</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10.1006/jmbi.1995.0238"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="None"/>
			<xs:pattern value="(PMC)[1-9][0-9]{0,8}"/>
			<xs:pattern value="[1-9][0-9]{0,8}"/>
			<xs:pattern value="(doi:)?[0-9]{2}\.[0-9]{4}/.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="biotoolsURL">
		<xs:annotation>
			<xs:documentation>URL in the registry namespace</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="https://bio.tools/toolName/versionNumber"/>
					<altova:example value="https://bio.tools/serviceProviderName/serviceName"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="https://bio.tools/.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="contactDetails">
		<xs:annotation>
			<xs:documentation>Details of contacts for a resource.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="credit">
		<xs:annotation>
			<xs:documentation>Details of a person who should be credited for the resource.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:element name="name" type="Name" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Name of a person or institute.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element ref="uniqueID">
						<xs:annotation>
							<xs:documentation>Unique identifier of an entity that should be credited, e.g. an ORCID of a person.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="URL">
						<xs:annotation>
							<xs:documentation>Link for an entity that should be credited, e.g. homepage of an institute (URL).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:element name="type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Type of entity that is being credited, one of "Name of person", "Name of person (developer)", "Name of person (provider)", "Name of institute" or "Grant number".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Name">
						<xs:enumeration value="Name of person"/>
						<xs:enumeration value="Name of person (developer)"/>
						<xs:enumeration value="Name of person (provider)"/>
						<xs:enumeration value="Name of institute"/>
						<xs:enumeration value="Grant number"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="uniqueID" type="URL">
		<xs:annotation>
			<xs:documentation>ORCID unique identifier of a person.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contactURL" type="URL">
		<xs:annotation>
			<xs:documentation>URL of contact.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="publication">
		<xs:annotation>
			<xs:documentation>Details for a publication.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element ref="PMCID"/>
				<xs:element ref="PMID"/>
				<xs:element ref="DOI"/>
			</xs:choice>
			<xs:element name="type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of publication.  One of "Primary publication", "Benchmarking study" or "Other relevant publication".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Name">
						<xs:enumeration value="Primary publication"/>
						<xs:enumeration value="Benchmarking study"/>
						<xs:enumeration value="Other relevant publication"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DOI">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10.1006/jmbi.1995.0238"/>
				</altova:exampleValues>
			</xs:appinfo>
			<xs:documentation>Digital Object Identifier (DOI) of a publication.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:token">
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="(doi:)?[0-9]{2}\.[0-9]{4}/.*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PMID">
		<xs:annotation>
			<xs:documentation>PubMed Identifier (PMID) of a publication.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:token">
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="[1-9][0-9]{0,8}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PMCID">
		<xs:annotation>
			<xs:documentation>PubMed Central Identifier (PMCID) of a publication.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:token">
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="(PMC)[1-9][0-9]{0,8}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="ontologyConcept">
		<xs:annotation>
			<xs:documentation>A concept from an ontology.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="uri" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>Unique identifier of the concept (URI).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="term" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A term for the concept, usually the preferrred label as defined for that concept in the ontology.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="resourceRelationship">
		<xs:annotation>
			<xs:documentation>Details about a relationship this resource shares with another entry in the ELIXIR Tools and Data Services Registry (bio.tools), e.g. a tool may part of some platform, or a service may use some tool or database.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="id" type="biotoolsURL">
				<xs:annotation>
					<xs:documentation>Unique ID of an entry in the ELIXIR Tools and Data Services Registry which this resource is related to.  The ID must be a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relationshipType">
				<xs:annotation>
					<xs:documentation>Type of relationship: "includes", "isNewVersionOf", "isOldVersionOf", "uses", or "usesAsDataSource".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:Name">
						<xs:enumeration value="includes"/>
						<xs:enumeration value="isNewVersionOf"/>
						<xs:enumeration value="isOldVersionOf"/>
						<xs:enumeration value="uses"/>
						<xs:enumeration value="usesAsDataSource"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="EDAMdataType">
		<xs:complexContent>
			<xs:restriction base="ontologyConcept">
				<xs:all>
					<xs:element name="uri" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>URL of an EDAM Data concept.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="term" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Preferred label of an EDAM Data concept.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EDAMformatType">
		<xs:complexContent>
			<xs:restriction base="ontologyConcept">
				<xs:all>
					<xs:element name="uri" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>URL of an EDAM Forrmat concept.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="term" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Preferred label of an EDAM Format concept.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
