biotools-2.0-alpha/biotools-2.0-alpha.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (x64) (http://www.altova.com) by Jon Ison (private) -->
<xs:schema xmlns="http://bio.tools" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://bio.tools" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="commandLineOption">
		<xs:annotation>
			<xs:documentation>Details of an option for a command line interface to a tool, i.e. something that can be specific by a flag such as '-a' or '--all'.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="optionSummary">
				<xs:annotation>
					<xs:documentation>A summary of the syntax for specifying a command-line option.  The value is markdown text adhering to a strict style and syntax, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="optionDescription">
				<xs:annotation>
					<xs:documentation>A textual description of a command-line option.  The value is markdown text adhering to a strict style and syntax, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="serviceEndpoint">
		<xs:annotation>
			<xs:documentation>Details of an endpoint to a service, i.e. a URL that can be used to invoke a particular function of a service.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="endpointURLTemplate">
				<xs:annotation>
					<xs:documentation>The template URL for a specific service endpoint, that defines the syntax of valid URL to call the service.  The value is markdown text adhering to a strict style and syntax, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endpointDescription">
				<xs:annotation>
					<xs:documentation>A textual description of a service endpoint.  The value is markdown text adhering to a strict style and syntax, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="output" type="Data"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="resources">
		<xs:annotation>
			<xs:documentation>Description of one or more bioinformatics software resources, e.g. databases, tools and services, in the biotoolsXSD resource description format.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="resource" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Description of a bioinformatics software resource.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resource">
		<xs:annotation>
			<xs:documentation>Attributes of bioinformatics resource</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name">
					<xs:annotation>
						<xs:documentation>Canonical resource name assigned by the developer or maintainer of the resource.  Names used in the ELIXIR Tools and Data Services Registry must be unique and conform to a style and syntax: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="resourceName"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="Name">
							<xs:maxLength value="50"/>
							<xs:pattern value="[\p{Zs}A-Za-z0-9+\.,\-_:;()]*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="homepage" type="URL">
					<xs:annotation>
						<xs:documentation>Homepage of the resource Web site, or some page that best serves this purpose (URL).</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="http://resourcename.org"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="description">
					<xs:annotation>
						<xs:documentation>Short textual description of the resource.  The description must conform to a style and syntax: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="Description of resource goes here."/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="500"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tags">
					<xs:annotation>
						<xs:documentation>Terms from controlled vocabularies describing scientific, technical and administrative details about the resource.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="topic" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>General scientific domain the resource serves or other general category for it: EDAM Topic term(s).</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:restriction base="ontologyConcept">
											<xs:all>
												<xs:element name="uri">
													<xs:annotation>
														<xs:documentation>URL of an EDAM Topic concept.</xs:documentation>
														<xs:appinfo>
															<altova:exampleValues>
																<altova:example value="http://edamontology.org/topic_0003"/>
															</altova:exampleValues>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:anyURI">
															<xs:pattern value="http://edamontology.org/topic_[0-9]{4}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="term" type="xs:token" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Preferred label of an EDAM Topic concept.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:all>
										</xs:restriction>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="organismID" minOccurs="0">
								<xs:annotation>
									<xs:documentation>NCBI taxon ID of an organism that the resourcec is particularly relevant for.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:restriction base="ontologyConcept">
											<xs:all>
												<xs:element name="uri" type="xs:anyURI">
													<xs:annotation>
														<xs:documentation>NCBI taxonomy ID (URI).</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="term" type="xs:token" minOccurs="0">
													<xs:annotation>
														<xs:documentation>A term for the concept, usually the preferrred label as defined for that concept in the ontology.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:all>
										</xs:restriction>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="GOterm" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:restriction base="ontologyConcept">
											<xs:all>
												<xs:element name="uri">
													<xs:annotation>
														<xs:documentation>Unique identifier of the concept (URI).</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:anyURI">
															<xs:pattern value="vcvc"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="term" minOccurs="0">
													<xs:annotation>
														<xs:documentation>A GO term</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:token">
															<xs:maxLength value="100"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:all>
										</xs:restriction>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="elixirStatus" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Official status of an ELIXIR service as assigned by ELIXIR Hub: one of "ELIXIR Named Service" or "ELIXIR Core Service".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="ELIXIR Core Service"/>
										<xs:enumeration value="ELIXIR Named Service"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="maturity" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Resource maturity: "Early", "Stable" or "Deprecated".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Early"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="Early"/>
										<xs:enumeration value="Stable"/>
										<xs:enumeration value="Deprecated"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="accessibility" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Public"/>
										</altova:exampleValues>
									</xs:appinfo>
									<xs:documentation>Whether a resource is available for public use, or is restricted to a private audience: "Public" or "Private".</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="Private"/>
										<xs:enumeration value="Public"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cost" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Monetary cost to purchase or use the resource: "Free", "Free with restrictions" or "Commercial".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Free"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="Free"/>
										<xs:enumeration value="Free with restrictions"/>
										<xs:enumeration value="Commercial"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="license" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Software or data usage license.  For valid values see See github.com/bio-tools/biotoolsxsd.</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="GNU General Public License v3"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="Apache License 2.0"/>
										<xs:enumeration value="Artistic License 2.0"/>
										<xs:enumeration value="MIT License"/>
										<xs:enumeration value="GNU General Public License v3"/>
										<xs:enumeration value="GNU Lesser General Public License v2.1"/>
										<xs:enumeration value="GNU General Public License v2"/>
										<xs:enumeration value="GNU Affero General Public License v3"/>
										<xs:enumeration value="BSD 3-Clause License (Revised)"/>
										<xs:enumeration value="BSD 2-Clause License"/>
										<xs:enumeration value="Creative Commons Attribution NonCommerical NoDerivs"/>
										<xs:enumeration value="Microsoft Public License"/>
										<xs:enumeration value="Mozilla Public License 2.0"/>
										<xs:enumeration value="Creative Commons Attribution NoDerivs"/>
										<xs:enumeration value="Eclipse Public License 1.0"/>
										<xs:enumeration value="Microsoft Reciprocal License"/>
										<xs:enumeration value="PHP License 3.0"/>
										<xs:enumeration value="Creative Commons Attribution 3.0 Unported"/>
										<xs:enumeration value="Creative Commons Attribution Share Alike"/>
										<xs:enumeration value="Creative Commons Attribution NonCommercial"/>
										<xs:enumeration value="Creative Commons Attribution NonCommercial ShareAlike"/>
										<xs:enumeration value="Apple Public Source License 2.0"/>
										<xs:enumeration value="ISC License"/>
										<xs:enumeration value="IBM Public License"/>
										<xs:enumeration value="GNU Free Documentation License v1.3"/>
										<xs:enumeration value="Common Public Attribution License Version 1.0"/>
										<xs:enumeration value="European Union Public License 1.1"/>
										<xs:enumeration value="ODC Open Database License"/>
										<xs:enumeration value="Simple Public License 2.0"/>
										<xs:enumeration value="Creative Commons Attribution-NonCommercial 2.0 Generic"/>
										<xs:enumeration value="Creative Commons CC0 1.0 Universal"/>
										<xs:enumeration value="Microsoft Shared Source Community License"/>
										<xs:enumeration value="Mozilla Public License 1.1"/>
										<xs:enumeration value="Educational Community License Version 2.0"/>
										<xs:enumeration value="Creative Commons Attribution 4.0 International"/>
										<xs:enumeration value="Open Software Licence 3.0"/>
										<xs:enumeration value="Common Public License 1.0"/>
										<xs:enumeration value="CeCILL v2"/>
										<xs:enumeration value="Adaptive Public License 1.0"/>
										<xs:enumeration value="Non-Profit Open Software License 3.0"/>
										<xs:enumeration value="Reciprocal Public License 1.5"/>
										<xs:enumeration value="Open Public License v1.0"/>
										<xs:enumeration value="ODC Public Domain Dedication and License 1.0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="resourceType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Basic resource type: "Database", "Tool", "Service", "Workflow", "Platform" or "Container".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="Tool"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:Name">
							<xs:enumeration value="Database"/>
							<xs:enumeration value="Tool"/>
							<xs:enumeration value="Service"/>
							<xs:enumeration value="Workflow"/>
							<xs:enumeration value="Platform"/>
							<xs:enumeration value="Container"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tool" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Details about a tool such as a command-line tool or Web application.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="versionInfo">
								<xs:complexType>
									<xs:all>
										<xs:element name="version">
											<xs:annotation>
												<xs:documentation>Version (typically a version number) of the tool assigned by the developer or maintainer of the resource (free text).</xs:documentation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="1.1"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:token">
													<xs:whiteSpace value="collapse"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="isNewVersionOf" type="biotoolsURL" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Unique ID of an tool in the ELIXIR Tools and Data Services Registry which this tool is a new version of.  The ID must be a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="isOldVersionOf" type="biotoolsURL" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Unique ID of an tool in the ELIXIR Tools and Data Services Registry which this tool is an old version of.  The ID must be a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element name="function" type="toolFunction" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Function(s) that the resource performs.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="interfaceType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A type of interface via which the tool may be used: one of "Command line", "Web UI" or "Desktop GUI".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Command line"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="Command line"/>
										<xs:enumeration value="Web UI"/>
										<xs:enumeration value="Desktop GUI"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="manPage" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Details of the command-line interface to a tool, if appropriate, suitable for formatting into a Unix man page.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="commandLineSummary">
											<xs:annotation>
												<xs:documentation>A summary of the syntax for invoking a tool on the command-line.  The value is markdown text adhering to a strict style and syntax, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="commandLineDescription">
											<xs:annotation>
												<xs:documentation>A textual summary of how a tool is invoked on the command-line.  The value is markdown text adhering to a strict style and syntax, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="option" type="commandLineOption" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Details for an option to a command-line tool.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="operatingSystem" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The operating system supported by a downloadable software package: "Linux", "Windows" or "Mac".</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Linux"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="Linux"/>
										<xs:enumeration value="Windows"/>
										<xs:enumeration value="Mac"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="language" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Languages (for APIs etc.) or technologies (for Web applications, applets etc.)  For valid values ee github.com/bio-tools/biotoolsxsd.</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Java"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="ActionScript"/>
										<xs:enumeration value="Ada"/>
										<xs:enumeration value="AppleScript"/>
										<xs:enumeration value="Assembly language"/>
										<xs:enumeration value="Bash"/>
										<xs:enumeration value="C"/>
										<xs:enumeration value="C#"/>
										<xs:enumeration value="C++"/>
										<xs:enumeration value="COBOL"/>
										<xs:enumeration value="ColdFusion"/>
										<xs:enumeration value="D"/>
										<xs:enumeration value="Delphi"/>
										<xs:enumeration value="Dylan"/>
										<xs:enumeration value="Eiffel"/>
										<xs:enumeration value="Forth"/>
										<xs:enumeration value="Fortran"/>
										<xs:enumeration value="Groovy"/>
										<xs:enumeration value="Haskell"/>
										<xs:enumeration value="Icarus"/>
										<xs:enumeration value="Java"/>
										<xs:enumeration value="Javascript"/>
										<xs:enumeration value="LabVIEW"/>
										<xs:enumeration value="Lisp"/>
										<xs:enumeration value="Lua"/>
										<xs:enumeration value="Maple"/>
										<xs:enumeration value="Mathematica"/>
										<xs:enumeration value="MATLAB language"/>
										<xs:enumeration value="MLXTRAN"/>
										<xs:enumeration value="NMTRAN"/>
										<xs:enumeration value="Pascal"/>
										<xs:enumeration value="Perl"/>
										<xs:enumeration value="PHP"/>
										<xs:enumeration value="Prolog"/>
										<xs:enumeration value="Python"/>
										<xs:enumeration value="R"/>
										<xs:enumeration value="Racket"/>
										<xs:enumeration value="REXX"/>
										<xs:enumeration value="Ruby"/>
										<xs:enumeration value="SAS"/>
										<xs:enumeration value="Scala"/>
										<xs:enumeration value="Scheme"/>
										<xs:enumeration value="Shell"/>
										<xs:enumeration value="Smalltalk"/>
										<xs:enumeration value="SQL"/>
										<xs:enumeration value="Turing"/>
										<xs:enumeration value="Verilog"/>
										<xs:enumeration value="VHDL"/>
										<xs:enumeration value="Visual Basic"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="downloads" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Downloadable files for the tool.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:all>
										<xs:element name="downloadsSource" type="URLFTP" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Source code downloads page (URL)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="downloadsBinaries" type="URLFTP" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Software binaries downloads page (URL)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="downloadsDocker" type="URLFTP" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Docker image download (URL)</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="service" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Details of the API to a service, if appropriate, including service endpoints.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="serviceURL">
								<xs:annotation>
									<xs:documentation>The base URL of a service, upon which one or more service endpoints may be hung.  The value is a URL, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="serviceMirrorURL" type="URL" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Base URL of an identical mirror of the service, which can be used for failover if necessary (URL).</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="serviceType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A tag which best desribes the type of service.  One of "REST/URL-based" or "SOAP+WSDL.  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Command line"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:enumeration value="REST/URL-based"/>
										<xs:enumeration value="SOAP+WSDL"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="serviceDescription">
								<xs:annotation>
									<xs:documentation>A textual summary of how a service is invoked via URL.  The value is markdown text adhering to a strict style and syntax, see https://github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="endpoint" type="serviceEndpoint" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Details of an endpoint to a service, i.e. a URL that can be used to invoke a particular function of a service.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="serviceDocsMachineReadable" type="URL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Link to machine-readable description of the service such as a WSDL, WSDL2, WADL or Swagger file (URL).</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://someurl.org"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="serviceDocsHumanReadable" type="URLFTP" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Link to human-readable documentation of the service (URL).</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://someurl.org"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="context" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Details about a relationship this resource shares with another entry in the ELIXIR Tools and Data Services Registry (bio.tools), e.g. a tool may part of some platform, or a service may use some tool or database.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="uses" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Unique ID of a resourec in the ELIXIR Tools and Data Services Registry which this resource uses.  For example, if a service provides an interface to some existing tool, the ID of the tool should be given here.  The ID must be a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="usesAsDataSource" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Unique ID of a database in the ELIXIR Tools and Data Services Registry which this resource uses as a source of data.  The ID must be a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="includes" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Unique ID of a resource in the ELIXIR Tools and Data Services Registry which this resource includes.  For example, databases, tools or services provided by some platform or included in some container.  The ID must be a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="contacts">
					<xs:annotation>
						<xs:documentation>Contact details for the resource including people, mailing lists, helpdesk etc.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="contactPrimary" type="contactDetails">
								<xs:annotation>
									<xs:documentation>Contact details for primary points of contact, e.g. helpdesk or an individual.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="contactOther" type="contactDetails" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Contact details for other points of contact.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="helpdesk" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Contact details for the helpdesk, or any place a user of the resource should go to get help.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:all>
										<xs:element name="helpdeskEmail"/>
										<xs:element name="helpdeskURL" minOccurs="0"/>
										<xs:element name="helpdeskTel" minOccurs="0"/>
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element name="mailingList" type="EmailAddress" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Email address of mailing list for general discussions about the resource.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="links" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Links to documentation about the resource and other Web sites and services of relevance.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="docs" type="URL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Link to documentation about the resource, for example, an online manual.  The resource homepage can be used by default (URL).</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://toolname.org/docs"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="citationInstructions" type="URLFTP" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Link to citation instructions (URL)</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://toolname.org/docs/citing"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="termsOfUse" type="URLFTP" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Link to license text or terms of use (URL)</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://toolname.org/docs/terms"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="downloads" type="URLFTP" minOccurs="0">
								<xs:annotation>
									<xs:documentation>General downloads page (URL)</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://toolname.org/downloads"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="github" type="URL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Github page (URL).</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="twitter" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Twitter account for the resource (URL).</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="seeAlso" type="URL" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Link to some other registry, catalogue, WIKI etc. where the resource is described (URL).</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="publications" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Publications relevant to the resource.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="publicationsPrimaryID" type="publication">
								<xs:annotation>
									<xs:documentation>The primary publication that should be cited when the resource is used.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="publicationsOtherID" type="publication" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Other relevant publications that can be cited when the resource is used.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="benchmarkingStudy" type="URL" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Link to a study that evaluated the scientific performane of the resource.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="credits" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Entities that should be credited for the resource.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="creditsPerson" type="creditPerson" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>People or institutions who should be credited for the resource.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="creditsInstitute" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Details of an institution that is credited for developing or providing the resource,</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:all>
										<xs:element name="creditsInstituteName" type="Name">
											<xs:annotation>
												<xs:documentation>Name of an institute.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="creditsInstituteURL" type="URL">
											<xs:annotation>
												<xs:documentation>Homepage of an institute (URL).</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element name="creditsGrantNumber" type="Name" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Number or other identifier of funding grant that supported the resource.</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Grant number: 12345"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="creditsElixirNode" minOccurs="0">
								<xs:annotation>
									<xs:documentation>ELIXIR node: name of one of countries participating in ELIXIR.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Name">
										<xs:whiteSpace value="collapse"/>
										<xs:enumeration value="UK"/>
										<xs:enumeration value="Switzerland"/>
										<xs:enumeration value="Sweden"/>
										<xs:enumeration value="Spain"/>
										<xs:enumeration value="Slovenia"/>
										<xs:enumeration value="Portugal"/>
										<xs:enumeration value="Norway"/>
										<xs:enumeration value="Netherlands"/>
										<xs:enumeration value="Italy"/>
										<xs:enumeration value="Israel"/>
										<xs:enumeration value="Greece"/>
										<xs:enumeration value="France"/>
										<xs:enumeration value="Finland"/>
										<xs:enumeration value="Estonia"/>
										<xs:enumeration value="EMBL-EBI"/>
										<xs:enumeration value="Denmark"/>
										<xs:enumeration value="Czech Republic"/>
										<xs:enumeration value="Belgium"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="biotoolsURL" use="optional" form="unqualified">
				<xs:annotation>
					<xs:documentation>Unique ID that is assigned upon registration of the resource in the ELIXIR Tools and Data Services Registry.  The ID is a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="toolFunction">
		<xs:annotation>
			<xs:documentation>Attributes of software operations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="functionName" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name(s) of the resource function(s): EDAM Operation term(s).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ontologyConcept">
							<xs:all>
								<xs:element name="uri">
									<xs:annotation>
										<xs:documentation>URL of an EDAM Operation concept.</xs:documentation>
										<xs:appinfo>
											<altova:exampleValues>
												<altova:example value="http://edamontology.org/operation_0004"/>
											</altova:exampleValues>
										</xs:appinfo>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:anyURI">
											<xs:pattern value="http://edamontology.org/operation_[0-9]{4}"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="term" type="xs:token" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Preferred label of an EDAM Operation concept.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:all>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="functionDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Concise textual description of the function(s), if this is not already obvious from the resource description.</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="Concise description of the function."/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="input" type="Data" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Details of primary input data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="output" type="Data" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Details of primary output data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Data">
		<xs:annotation>
			<xs:documentation>Attributes of software parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dataType">
				<xs:annotation>
					<xs:documentation>Type of data: EDAM Data term(s).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ontologyConcept">
							<xs:all>
								<xs:element name="uri" type="xs:anyURI">
									<xs:annotation>
										<xs:documentation>URL of an EDAM Data concept.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="term" type="xs:token" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Preferred label of an EDAM Data concept.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:all>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="dataFormat" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Allowed format(s) of the data: EDAM Format term(s).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ontologyConcept">
							<xs:all>
								<xs:element name="uri" type="xs:anyURI">
									<xs:annotation>
										<xs:documentation>URL of an EDAM Forrmat concept.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="term" type="xs:token" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Preferred label of an EDAM Format concept.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:all>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Name">
		<xs:annotation>
			<xs:documentation>Name of a thing</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailAddress">
		<xs:annotation>
			<xs:documentation>Email address</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="FredBloggs@gmail.com"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[A-Za-z0-9_]+([-+.'][A-Za-z0-9_]+)*@[A-Za-z0-9_]+([-.][A-Za-z0-9_]+)*\.[A-Za-z0-9_]+([-.][A-Za-z0-9_]+)*"/>
			<xs:pattern value="((\S*\s*)*&lt;(([a-zA-Z0-9!#$%&amp;'\*\+/=\?\^`\{\}\|~\._-])|(&quot;.+&quot;)|(\\.))+@([a-zA-Z0-9-])+(([a-zA-Z0-9-])*\.([a-zA-Z0-9-])+)+&gt;)|((([a-zA-Z0-9!#$%&amp;'\*\+/=\?\^`\{\}\|~\._-])|(&quot;.+&quot;)|(\\.))+@([a-zA-Z0-9-])+(([a-zA-Z0-9-])*\.([a-zA-Z0-9-])+)+)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="URLFTP">
		<xs:annotation>
			<xs:documentation>URL supporting FTP URLs</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="http://someURL.org"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="http.*"/>
			<xs:pattern value="ftp.*"/>
			<xs:pattern value="sftp.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="URL">
		<xs:annotation>
			<xs:documentation>URL</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="http://someURL.org"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="http.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CitationID">
		<xs:annotation>
			<xs:documentation>Resource citation (PMCID, PMID or DOI)</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10.1006/jmbi.1995.0238"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="None"/>
			<xs:pattern value="(PMC)[1-9][0-9]{0,8}"/>
			<xs:pattern value="[1-9][0-9]{0,8}"/>
			<xs:pattern value="(doi:)?[0-9]{2}\.[0-9]{4}/.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="biotoolsURL">
		<xs:annotation>
			<xs:documentation>URL in the registry namespace</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="https://bio.tools/toolName/versionNumber"/>
					<altova:example value="https://bio.tools/serviceProviderName/serviceName"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="https://bio.tools/.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="contactDetails">
		<xs:annotation>
			<xs:documentation>Details of contacts for a resource.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element name="contactEmail" type="EmailAddress">
							<xs:annotation>
								<xs:documentation>Email address of contact.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="contactURL" minOccurs="0">
							<xs:annotation>
								<xs:documentation>URL of contact.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element ref="contactURL">
						<xs:annotation>
							<xs:documentation>URL of contact.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:element name="contactName" type="Name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of contact.</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="Fred Bloggs"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactTel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Telephone number of contact. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactRole" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Role of contact: "Developer", "Maintainer", "Helpdesk" or "General".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Name">
						<xs:enumeration value="Developer"/>
						<xs:enumeration value="Maintainer"/>
						<xs:enumeration value="Helpdesk"/>
						<xs:enumeration value="General"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="creditPerson">
		<xs:annotation>
			<xs:documentation>Details of a person who should be credited for the resource.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element name="creditName" type="Name">
							<xs:annotation>
								<xs:documentation>Name of a person or institute.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="creditORCID" minOccurs="0">
							<xs:annotation>
								<xs:documentation>ORCID unique identifier of a person.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element ref="creditORCID">
						<xs:annotation>
							<xs:documentation>ORCID unique identifier of a person.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:element name="creditRole" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Role of person being credited: "Developer", "Maintainer" or "Other".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Name">
						<xs:enumeration value="General"/>
						<xs:enumeration value="Developer"/>
						<xs:enumeration value="Technical"/>
						<xs:enumeration value="Scientific"/>
						<xs:enumeration value="Maintainer"/>
						<xs:enumeration value="Helpdesk"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="creditORCID" type="URL">
		<xs:annotation>
			<xs:documentation>ORCID unique identifier of a person.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contactURL" type="URL">
		<xs:annotation>
			<xs:documentation>URL of contact.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="publication">
		<xs:annotation>
			<xs:documentation>Details for a publication.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="DOI"/>
			<xs:element ref="PMID" minOccurs="0"/>
			<xs:element ref="PMCID" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="DOI">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10.1006/jmbi.1995.0238"/>
				</altova:exampleValues>
			</xs:appinfo>
			<xs:documentation>Digital Object Identifier (DOI) of a publication.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:token">
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="(doi:)?[0-9]{2}\.[0-9]{4}/.*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PMID">
		<xs:annotation>
			<xs:documentation>PubMed Identifier (PMID) of a publication.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:token">
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="[1-9][0-9]{0,8}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PMCID">
		<xs:annotation>
			<xs:documentation>PubMed Central Identifier (PMCID) of a publication.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:token">
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="(PMC)[1-9][0-9]{0,8}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="ontologyConcept">
		<xs:annotation>
			<xs:documentation>A concept from an ontology.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="uri" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>Unique identifier of the concept (URI).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="term" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A term for the concept, usually the preferrred label as defined for that concept in the ontology.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="resourceRelationship">
		<xs:annotation>
			<xs:documentation>Details about a relationship this resource shares with another entry in the ELIXIR Tools and Data Services Registry (bio.tools), e.g. a tool may part of some platform, or a service may use some tool or database.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="id" type="biotoolsURL">
				<xs:annotation>
					<xs:documentation>Unique ID of an entry in the ELIXIR Tools and Data Services Registry which this resource is related to.  The ID must be a URL in the bio.tools namespace: see github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relationshipType">
				<xs:annotation>
					<xs:documentation>Type of relationship: "includes", "isNewVersionOf", "isOldVersionOf", "uses", or "usesAsDataSource".  See github.com/bio-tools/biotoolsxsd.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:Name">
						<xs:enumeration value="includes"/>
						<xs:enumeration value="isNewVersionOf"/>
						<xs:enumeration value="isOldVersionOf"/>
						<xs:enumeration value="uses"/>
						<xs:enumeration value="usesAsDataSource"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
